html {
  font-family: "Merriweather", serif;
}

th, td {
  border: 1px solid #ccc;
}
.event {
  border-radius: 8px;
  border: 1px solid;
}

.event-red {
  background-color: #f2bcbc;
  border-color: #b92828;
  color: #991919;
}

.event-grey {
  background-color: #f2f2f2;
  border-color: #666;
  color: #333;
}

.event-green {
  background-color: #d1e0bf;
  border-color: #6b7e54;
  color: #51603f;
}

.event-blue {
  background-color: #d2d6f0;
  border-color: #1d38da;
  color: #38448e;
}

.day {
  height: 6rem;
}
